body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
.container{
    justify-self: center;
    display: block;
    width: 40vw;
    background:linear-gradient(180deg,rgb(150, 166, 236),rgb(166, 202, 243));
    border: solid purple 2px;
    border-radius: 20px;
    padding-left: 25px;    
    padding-right: 25px;
    padding-bottom: 25px;
}
div > h2{
    justify-self: center;
}
#calc{
    background-color: blanchedalmond;
    
}